app-header {
  position: fixed;
  font-family: "Barlow";
  background: #2b2d42;
  padding: 10px 0;
  height: 70px;
  top: 0;
  z-index: 1;
  width: 100%;
}

main {
  background-color: #2b2d42;
}

app-character-detail {
  z-index: 1;
  position: fixed;
  background-color: #2b2d42;
}

@media screen and (min-width: 740px) {
  app-header {
    height: 40px;
  }

  main {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  app-character-list {
    grid-column: 1;
  }

  app-character-detail {
    margin-top: 60px;
    grid-column: 2;
    position: inherit;
  }
}
