@import "./../../../../assets/styles/variables";

app-header {
  position: fixed;
  font-family: "Barlow";
  background-color: $page-background-color;
  top: 0;
  z-index: 1;
  height: 80px;
  width: 100%;
}

main {
  background-color: $page-background-color;
  display: grid;
  grid-template-rows: 500px fr;
}

app-character-list {
  grid-row: 2;
}

app-character-detail {
  position: fixed;
  padding-top: 80px;
  background-color: $page-background-color;
  grid-row: 1;
  width: 100%;
}

@media screen and (min-width: 740px) {
  app-header {
    height: 50px;
  }

  main {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  app-character-list {
    grid-column: 1;
  }

  app-character-detail {
    padding-top: 50px;
    grid-column: 2;
    position: inherit;
  }
}
