app-header {
  position: fixed;
  font-family: "Barlow";
  background: #2b2d42;
  top: 0;
  z-index: 2;
  width: 100%;
}

main {
  background-color: #2b2d42;
  display: grid;
  grid-template-rows: 500px fr;
}

app-character-list {
  grid-row: 2;
}

app-character-detail {
  position: fixed;
  padding-top: 40px;
  background-color: #2b2d42;
  z-index: 1;
  grid-row: 1;
}

@media screen and (min-width: 740px) {
  app-header {
    height: 40px;
  }

  main {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  app-character-list {
    grid-column: 1;
  }

  app-character-detail {
    margin-top: 60px;
    grid-column: 2;
    position: inherit;
  }
}
