@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

section {
  font-family: "Barlow";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  margin: 10px;
  border: solid 2px #5e807f;
  border-radius: 10px;
  background-color: #5e807f;
  color: #2b2d42;
  font-weight: bold;
  filter: drop-shadow(0 0 0.2em #2b2d42);
}

p {
  display: flex;
  justify-content: space-around;
}

img {
  width: 190px;
  height: 250px;
}
