//variables//
$card-color: #5e807f;
$font-color: #2b2d42;
//variables//

section {
  font-family: "Barlow";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  position: fixed;
  border: solid 2px $card-color;
  border-radius: 10px;
  background-color: $card-color;
  color: $font-color;
  font-weight: bold;
  width: 320px;
  height: 600px;
  filter: drop-shadow(0 0 0.3em $card-color);
  cursor: pointer;
}

p {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 10px 0;
  overflow-wrap: break-word;
}
img {
  width: 320px;
  height: 450px;
}
