@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

//variables//
$card-color: #5e807f;
$font-color: #2b2d42;
//variables//

button {
  font-family: "Barlow";
  color: #fcff6c;
  height: 25px;
  width: 170px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #5e807f;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  font-size: 16px;
  cursor: pointer;
}

section {
  padding-top: 50px;
  font-family: "Barlow";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  margin: 15px;
  border: solid 2px $card-color;
  border-radius: 10px;
  background-color: $card-color;
  color: $font-color;
  font-weight: bold;
  filter: drop-shadow(0 0 0.3em $card-color);
  cursor: pointer;
}

p {
  display: flex;
  justify-content: space-around;
}

img {
  width: 146px;
  height: 192px;
}
